@model IEnumerable<_3Layer.LichSuCongTac>
    @using _3Layer;
    @{QuanLyLuongEntities db = new QuanLyLuongEntities();}

@{
    ViewBag.Title = "ChiTietCongTac";
}
    @{string manv = Request.QueryString["MaNV"];
      var tennv = db.NhanViens.FirstOrDefault(a => a.MaNV.Equals(manv));}

<h2>Lịch sử công tác của @tennv.HoTen</h2>
                      @Html.ActionLink("Xuất dữ liệu ra Excel", "ExportDataLichSuCongTac", new { maNhanVien = @Request.QueryString["MaNV"] })
<table class="table">
    <tr>
        <th>
          Mã công tác
        </th>
        <th>
            Tên đơn vị
        </th>
        <th>
            Tên chức vụ
        </th>
        <th>
            Tên ngạch
        </th>
        <th>
           Ngày làm
        </th>
        <th>
           Ngày chuyển
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaCongTac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonVi.TenDonVi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVu.TenChucVu)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.NgachLuong.TenNgach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayChuyen)
        </td>
    </tr>
}

</table>
