@model IEnumerable<_3Layer.LuongThucTe>
    @using _3Layer;
    @{QuanLyLuongEntities db = new QuanLyLuongEntities();}

@{
    ViewBag.Title = "ThucHienThongKeLuong";
}
    @{
        string madonvi = Request.QueryString["MaDonVi"];
        string tendonvi = db.DonVis.Where(a => a.MaDonVi.Equals(madonvi)).Select(a => a.TenDonVi).FirstOrDefault();
    }
<h2>Thống kê lương của đơn vị @tendonvi</h2>
                      @Html.ActionLink("Xuất dữ liệu ra Excel", "ExportDataThongKeLuong", new { MaDonVi = @Request.QueryString["MaDonVi"], nam = @Request.QueryString["nam"], thang = @Request.QueryString["thang"] })
<p>
    @using (Html.BeginForm("ThucHienThongKeLuong", "Home", FormMethod.Get, htmlAttributes: new { @class = "form-inline" }))
    {
        <input type="text" name="MaDonVi" value='@madonvi' readonly hidden />
            <div class="form-group">
                <label>Tháng: </label>
                <select class="form-control" name="thang">
                    @for (int i = 1; i <= 12; i++)
                    {
                        string selected;
                        if (!String.IsNullOrEmpty(Request.QueryString["thang"]) && int.Parse(Request.QueryString["thang"]) == i)
                        {
                            <option selected value='@i'>@i</option>
                        }
                        else
                        {
                            <option value='@i'>@i</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Năm: </label>
                <select class="form-control" name="nam">
                    @for (int j = 1900; j <= DateTime.Now.Year; j++)
                    {
                        if (!String.IsNullOrEmpty(Request.QueryString["nam"]) && int.Parse(Request.QueryString["nam"]) == j)
                        {
                            <option selected value='@j'>@j</option>
                        }
                        else
                        {
                            <option value='@j'>@j</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Lọc" class="btn btn-success" />
            </div>
              
    }
</p>
<table class="table">
    <tr>
        <th>
           Mã lương
        </th>
        <th>
            Mã nhân viên
        </th>
        <th>Họ và tên</th>
        <th>
            Ngày lập
        </th>
        <th>
            Lương cơ bản
        </th>
        <th>
           Lương thực tế
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuongCoBan) đồng
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuongThucTe1) đồng
        </td>
    </tr>
}

</table>
