@model IEnumerable<_3Layer.NhanVien>
    @using _3Layer;
    @{QuanLyLuongEntities db = new QuanLyLuongEntities();}
@{
    ViewBag.Title = "ThucHienTinhLuong";
}

<h2>Thực hiện tính lương</h2>
    @using (Html.BeginForm("ThucHienTinhLuong", "Home", FormMethod.Post)) { 
<table class="table">
@foreach (var item in Model)
{
    <tr>
        <td>Mã nhân viên</td>
        <td>@Html.DisplayFor(modelItem => item.MaNV)</td>
        <td><input type="text" name="MaNV" value='@Html.DisplayFor(modelItem => item.MaNV)' readonly hidden></td>
    </tr>
    <tr>
        <td>
            Họ và tên
        </td>
        <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
    </tr>
    
    <tr>
        <td>Đơn vị</td>
        <td>@ViewBag.TenDonVi</td>
    </tr>
    <tr>
        <td>Chức vụ</td>
        <td>@ViewBag.TenChucVu</td>
    </tr>
    <tr>
        <td>Ngạch</td>
        <td>@ViewBag.Ngach</td>
    </tr>
    <tr>
        <td><input type="submit" value="Tính lương" class="btn btn-success" /></td>
    </tr>
}
</table>
    }
